{{- /* layouts/blox/people.html */ -}}
<section class="people-block">
  <h2>{{ .content.title }}</h2>

  {{- $userGroups := .content.user_groups -}}
  {{- $sortBy := .content.sort_by | default "Params.last_name" -}}
  {{- $ascending := .content.sort_ascending | default true -}}

  <div class="team-list">
    {{- range sort (where .Site.RegularPages "Params.user_groups" "intersect" $userGroups) $sortBy $ascending -}}
      <div class="team-member">
        <h3>{{ .Params.first_name }} {{ .Params.last_name }}</h3>
        {{ if $.content.design.show_role }}<p>{{ .Params.role }}</p>{{ end }}
        {{ if $.content.design.show_social }}
          <p>
            {{ with .Params.twitter }}<a href="https://twitter.com/{{ . }}">Twitter</a>{{ end }}
            {{ with .Params.linkedin }} | <a href="{{ . }}">LinkedIn</a>{{ end }}
          </p>
        {{ end }}
      </div>
    {{- end }}
  </div>
</section>
